@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;500&display=swap');

.main-container {
	max-width: 885px;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto 50px auto;
}

.container {
	margin: 0 auto;
}

.icon-container {
	margin: 20px auto;
	width: 200px;
	height: 200px;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #ececec;
	position: relative;
	overflow: hidden;
}

/* Mail */
.mail {
	background: linear-gradient(#1a51f0 0%, #02c9df 100%); 
}

.mail:before, .mail:after {
	position: relative;
	content: '';
	border-width: 3px;
	border-style: solid; 
}

.mail:before {
	border-color: transparent transparent transparent white; 
}

.mail:after {
	border-color: transparent white transparent transparent; 
}

.mail .inner {
	position: relative; 
}

.mail .inner.upper {
	width: 6px;
	height: 6px;
	top: -50%;
	left: 22%;
	z-index: 2;
	background: #fff;
	border-radius: 1px;
	box-shadow: 0 0 0 0.5px #1ca4f7;
	transform: rotateZ(45deg); 
}

.mail .inner.lower {
	width: 8px;
	height: 8px;
	top: 70%;
	z-index: 1;
	background: #fff;
	border-radius: 1px;
	transform: rotateZ(45deg); 
}

/* Calendar */
.calendar {
	background: #ececec;
}

#calendar-day-week {
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #e2372e;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Heebo', sans-serif;
}

#calendar-day {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 120px;
	font-family: 'Heebo', sans-serif;
	font-weight: 200;
}

/* Facebook */
.facebook {
	background: linear-gradient(-45deg, #0098DA, #0c4196);
	overflow: hidden;
}

.line {
	position: absolute;
	width: 40px;
	height: 100%;
	border-radius: 2px;
	left: 82%;
	background: linear-gradient(45deg, #018dc9, #0d5b9b);
}

.facebook:before {
	background: linear-gradient(45deg, #0098DA, #1f548c);
	content: '';
	position: absolute;
	width: 140px;
	height: 150px;
	top: 15%;
	left: 50%;
	border: 30px solid #eee;
	border-radius: 40px;
}
.facebook:after {
	background: #eee;
	content: "";
	position: absolute;
	top: 45%;
	left: 41%;
	width: 80px;
	height: 20px;
}

/* Twitter */
.twitter {
	background: rgb(240, 240, 240);
}

.twitter-icon {
	content: '';
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #f0f0f0;
	box-shadow:
		35px -125px 0 25px #1CA1F1,
		0px -190px 0 70px #f0f0f0,
		-25px -135px 0 40px #1CA1F1,
		-55px -120px 0 15px #f0f0f0,
		-22px -110px 0 40px #1CA1F1,
		-50px -85px 0 10px #f0f0f0,
		-30px -83px 0 25px #1CA1F1,
		57px -170px 0 25px #f0f0f0,
		58px -149px 0 12px #1CA1F1,
		60px -163px 0 25px #f0f0f0,
		58px -140px 0 10px #1CA1F1,
		-75px -120px 0 80px #f0f0f0,
		-15px -100px 0 74px #1CA1F1;
}

/* messenger */
.messenger {
	background: #f0f0f0;
}

.messenger-circle {
  position: relative;
  top: -40px;
  left: 30px;
  width: 150px;
  height: 120px;
	border-radius: 50%;
  background: radial-gradient(circle farthest-corner at 35% 90%, #2394FE, transparent 70%),
		radial-gradient(circle farthest-corner at 30% 90%, #FD656C, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 0, #FD656C, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 100%, #893dc2, transparent),
		linear-gradient(#FD656C, #bc318f 30%, #893dc2 50%, #2394FE 70%, #2394FE 100%);
}

.messenger-triangle {
  position: relative;
  left: -110px;
  border-width: 30px;
  border-style: solid;
  border-color: #3b92e2 transparent transparent transparent;
  transform: rotateZ(25deg) scaleX(0.65) scaleY(0.8);
}

.lightning {
	position: relative;
  top: 60px;
  left: 70px;
	width: 30px;
	height: 12px;
	background: #fff;
	transform:  translate(-50%, -50%) rotate(45deg);              
}
	
.lightning:before, .lightning:after {
	content: '';
	position: relative;
	border-style: solid;
	border-width: 50px 10px 0 0;
	border-color: #fff transparent transparent transparent;
}
.lightning:before {
  top: 50px;
  right: 5px;
}
	
.lightning:after {
  content: '';
  top: -74px;
	right: -25px;
	bottom: 0;
	border-width: 0 0 50px 10px;
	border-color: transparent transparent #fff transparent;
}

/* Messages Icon */
.messages {
	background: linear-gradient(#66ca3b 0%, #07bf38 100%);
}

.message-circle {
  position: relative;
  top: -40px;
  left: 30px;
  width: 150px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
}

.message-triangle {
  position: relative;
  left: -120px;
  border-width: 30px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: rotateZ(35deg) scaleX(0.65) scaleY(1);
}


/* Instagram */
.instagram {
	background: 
		radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
		radial-gradient(circle farthest-corner at 0 -25%, #5258cf, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 0, #893dc2, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 100%, #d9317a, transparent),
		linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.instagram-borderRectangle {
	width: 125px;
	height: 125px;
	border-radius: 25%;
	border: 10px solid white;
	margin: auto;
	position: relative;
		
}
.instagram-lens {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 10px solid white;
	margin: 30px auto 0 auto;
	z-index:0;
}
.instagram-flash {
	width: 2px;
	height: 2px;
	border-radius: 50%;
	border: 8px solid white;
	background-color: white;
	position: absolute;
	top: 10px;
	right: 10px;
}

/* PayPal */
.paypal {
	background: linear-gradient(-45deg, #0098DA, #002A6E);
	position: relative;

}
.letterCircle {
	width: 47.5px;
	height: 75px;
	border-radius: 0 50% 50% 0;
	background-color: white;
	transform: skewx(-10deg);
	position:absolute;
	top:40px;
	left: 93px;
}
.letterCircle:after {
  content:"";
  width: 90%;
  height: 90%;
  position: absolute;
  transform: translate(36.6px, 35px);
  border-radius: 0 50% 50% 0;
  background-color: rgba(173, 206, 227, .7);
}
	
.letterRectangle {
	width: 40px;
	height: 120px;
	background-color: white;
	border-radius: 5% 0 5% 5%;
	transform: skew(-10deg);
	position:absolute;
	top: 40px;
	left:50px;
}
.letterRectangle:after {
  content:"";
  width: 90%;
  height: 90%;
  position: absolute;
  transform: translate(40px, 35px);
  border-radius: 5% 0 5% 5%;
  background-color: rgba(173, 206, 227, .7);
}
