@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;500&display=swap');

.main-container {
	max-width: 885px;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto 50px auto;
}

.container {
	margin: 0 auto;
}

.icon-container {
	margin: 20px auto;
	width: 200px;
	height: 200px;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #ececec;
	position: relative;
	overflow: hidden;
}

/* Weather */
.weather {
  background: linear-gradient(#1055B1, #39a3ee 80%);
}

.sun {
  background-color: #ffdb4a;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  right: 30px;
}

.dots {
  width: 85px;
  height: 75px;
  background-color: #E2F9FE;
  opacity: 0.95;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  right: 65px;
}

.dots::before, .dots::after {
  content: "";
  background-color: #E2F9FE;
  opacity: 0.95;
  position: absolute;
  border-radius: 50%;
}

.dots::before {
  width: 70%;
  height: 70%;
  top: 30px;
  right: -20px;
  border-radius: 50px;
}

.dots::after {
  width: 90%;
  height: 90%;
  top: 15px;
  right: 30px;
  border-radius: 50px;
}

.box {
  width: 50px;
  height: 20px;
  background-color: #E2F9FE;
  opacity: 0.95;
  position: absolute;
  top: 63px;
  right: 10px;
}

/* Calendar */
.calendar {
	background: #ececec;
}

#calendar-day-week {
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #e2372e;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Heebo', sans-serif;
}

#calendar-day {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 120px;
	font-family: 'Heebo', sans-serif;
	font-weight: 200;
}

/* Facebook */
.facebook {
	background: linear-gradient(-45deg, #0098DA, #0c4196);
	overflow: hidden;
}

.line {
	position: absolute;
	width: 40px;
	height: 100%;
	border-radius: 2px;
	left: 82%;
	background: linear-gradient(45deg, #018dc9, #0d5b9b);
}

.facebook:before {
	background: linear-gradient(45deg, #0098DA, #1f548c);
	content: '';
	position: absolute;
	width: 140px;
	height: 150px;
	top: 15%;
	left: 50%;
	border: 30px solid #fff;
	border-radius: 40px;
}

.facebook:after {
	background: #fff;
	content: "";
	position: absolute;
	top: 45%;
	left: 41%;
	width: 80px;
	height: 20px;
}

/* Twitter */
.twitter {
	background: #f0f0f0;
}

.twitter-icon {
	content: '';
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #f0f0f0;
	box-shadow:
		35px -125px 0 25px #1CA1F1,
		0px -190px 0 70px #f0f0f0,
		-25px -135px 0 40px #1CA1F1,
		-55px -120px 0 15px #f0f0f0,
		-22px -110px 0 40px #1CA1F1,
		-50px -85px 0 10px #f0f0f0,
		-30px -83px 0 25px #1CA1F1,
		57px -170px 0 25px #f0f0f0,
		58px -149px 0 12px #1CA1F1,
		60px -163px 0 25px #f0f0f0,
		58px -140px 0 10px #1CA1F1,
		-75px -120px 0 80px #f0f0f0,
		-15px -100px 0 74px #1CA1F1;
}

/* Messenger */
.messenger {
	background: #f0f0f0;
}

.messenger-circle {
  position: relative;
  top: -40px;
  left: 30px;
  width: 150px;
  height: 120px;
	border-radius: 50%;
  background: radial-gradient(circle farthest-corner at 35% 90%, #2394FE, transparent 70%),
		radial-gradient(circle farthest-corner at 30% 90%, #FD656C, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 0, #FD656C, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 100%, #893dc2, transparent),
		linear-gradient(#FD656C, #bc318f 30%, #893dc2 50%, #2394FE 70%, #2394FE 100%);
}

.messenger-triangle {
  position: relative;
  left: -110px;
  border-width: 30px;
  border-style: solid;
  border-color: #3b92e2 transparent transparent transparent;
  transform: rotateZ(25deg) scaleX(0.65) scaleY(0.8);
}

.lightning {
	position: relative;
  top: 60px;
  left: 70px;
	width: 30px;
	height: 12px;
	background: #fff;
	transform:  translate(-50%, -50%) rotate(45deg);              
}
	
.lightning:before, .lightning:after {
	content: '';
	position: relative;
	border-style: solid;
	border-width: 50px 10px 0 0;
	border-color: #fff transparent transparent transparent;
}

.lightning:before {
  top: 50px;
  right: 5px;
}
	
.lightning:after {
  content: '';
  top: -74px;
	right: -25px;
	bottom: 0;
	border-width: 0 0 50px 10px;
	border-color: transparent transparent #fff transparent;
}

/* Messages */
.messages {
	background: linear-gradient(#66ca3b 0%, #07bf38 100%);
}

.message-circle {
  position: relative;
  top: -40px;
  left: 30px;
  width: 150px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
}

.message-triangle {
  position: relative;
  left: -120px;
  border-width: 30px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: rotateZ(35deg) scaleX(0.65) scaleY(1);
}

/* Instagram */
.instagram {
	background: 
		radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
		radial-gradient(circle farthest-corner at 0 -25%, #5258cf, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 0, #893dc2, transparent 50%),
		radial-gradient(circle farthest-corner at 100% 100%, #d9317a, transparent),
		linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.instagram-borderRectangle {
	width: 125px;
	height: 125px;
	border-radius: 25%;
	border: 10px solid #fff;
	margin: auto;
	position: relative;
}

.instagram-lens {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 10px solid #fff;
	margin: 30px auto 0 auto;
	z-index:0;
}

.instagram-flash {
	width: 2px;
	height: 2px;
	border-radius: 50%;
	border: 8px solid #fff;
	background-color: #fff;
	position: absolute;
	top: 10px;
	right: 10px;
}

/* PayPal */
.paypal {
	background: linear-gradient(-45deg, #0098DA, #002A6E);
	position: relative;

}
.letter-circle {
	width: 47.5px;
	height: 75px;
	border-radius: 0 50% 50% 0;
	background-color: #fff;
	transform: skewx(-10deg);
	position:absolute;
	top:40px;
	left: 93px;
}
.letter-circle:after {
  content:"";
  width: 90%;
  height: 90%;
  position: absolute;
  transform: translate(36.6px, 35px);
  border-radius: 0 50% 50% 0;
  background-color: #adcee3b3;
}
	
.letter-rectangle {
	width: 40px;
	height: 120px;
	background-color: #fff;
	border-radius: 5% 0 5% 5%;
	transform: skew(-10deg);
	position:absolute;
	top: 40px;
	left:50px;
}

.letter-rectangle:after {
  content:"";
  width: 90%;
  height: 90%;
  position: absolute;
  transform: translate(40px, 35px);
  border-radius: 5% 0 5% 5%;
  background-color: #adcee3b3;
}

/* Photos */
.photo-rectangle {
  width: 45px;
  height: 75px;
  border-radius: 50px;
  position: absolute;
  top: 20px;
}

.photo-rectangle.orange {
  background-color: #ff9900ce;
  z-index: 1;
}

.photo-rectangle.yellow {
  background-color: #ffea00bd;
  transform-origin: 55% 100%;
  transform: rotate(45deg);
	z-index: 100;
}

.photo-rectangle.green {
  background-color: #7bd540da;
  transform-origin: 55% 105%;
  transform: rotate(90deg);
	z-index: 101;
}

.photo-rectangle.lightBlue {
  background-color: #43a577d5;
  transform-origin: 52.5% 105%;
  transform: rotate(135deg);
		z-index: 102;
}

.photo-rectangle.blue {
  background-color: #469bc2d4;
  transform-origin: 50% 105%;
  transform: rotate(180deg);
		z-index: 103;
}

.photo-rectangle.purple {
  background-color: #7b5ca5c4;
  transform-origin: 47.5% 105%;
  transform: rotate(225deg);
	z-index: 104;
}

.photo-rectangle.violet {
  background-color: #ac467ece;
  transform-origin: 45% 105%;
  transform: rotate(270deg);
}

.photo-rectangle.red {
  background-color: #db502dde;
  transform-origin: 45% 102.5%;
  transform: rotate(315deg);
}

/* Podcast */
.podcast {
  background: linear-gradient(#D46CFC, #983CD0 70%);
}

.podcast-outer-ring {
  border: 8px solid;
  border-color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  background-color: transparent;
  position: relative;
}

.podcast-inner-ring {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fff;
  margin: 14px auto;
}

.podcast-center {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  margin: 20px auto;
}

.podcast-rectangle {
  width: 25px;
  height: 60px;
  background-color: #fff;
  border-radius: 20px;
	box-shadow: 0 0 0 8px #983CD0;
  position: absolute;
  top: 80px;
  left: 45px;
}

/* App store */
.app-store {
  background: linear-gradient(#00C4F9, #0076F0 70%);
}

.app-store-rectangle {
  background-color: #fff;
  width: 15px;
  height: 135px;
  border-radius: 40px;
}

.app-store-rectangle.left {
  transform: translate(75px, -30px) rotate(27.5deg);
}

.app-store-rectangle.middle {
	height: 120px;
  transform: rotate(90deg);
  margin: 10px auto;
}

.app-store-rectangle.right {
  transform: translate(-75px, -30px) rotate(-27.5deg);
}

/* Netflix */
.netflix {
  background-color: #000000;
  position: relative;
}

.netflix-rectangle {
  width: 25px;
  height: 135px;
  background-color: #CF0207;
  position: absolute;
  top: 35px;
  left: 60px;
  z-index: 3;
}

.netflix-rectangle::before, .netflix-rectangle::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FF040D;
}

.netflix-rectangle::before {
  z-index: 2;
  transform: skew(20deg);
  position: absolute;
  left: 25px;
  box-shadow: 0px 10px 20px #111;
}

.netflix-rectangle::after {
  z-index: 1;
  transform: skew(0deg);
  position: absolute;
  left: 50px;
  background-color: #CF0207;
}

/* Camera */
.camera {
	background: linear-gradient(#E4E4E7, #94969C 70%);
}

.camera-icon {
	position: relative;
	width: 65%;
	height: 45%;
	background: #333;
	border-radius: 10px;
	top: -25%;
	left: 0%;
}

.notch {
	position: absolute;
	top: 25%;
	width: 50px;
	height: 30px;
	border-radius: 5px 5px 0 0;
	background-color: #333;
}

.notch-correction-right {
	position: absolute;
	left: 96%;
}

.notch-correction-left {
	position: absolute;
	left: -37%;
}

.line-1 {
	position: relative;
	top: 12px;
	left: 0;
	width: 130px;
	height: 1px;
	background-color: #bbbbbb;
}

.line-2 {
	position: relative;
	top: 20px;
	left: 0;
	width: 130px;
	height: 1px;
	background-color: #bbbbbb;
}

.camera-icon .lens {
	position: relative;
	width: 40px;
	height: 40px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -40%);
	border-radius: 50%;
	background-color: #333;
	border: 3px solid #b8b8b8;
}

.camera-icon .button {
	position: relative;
	width: 12px;
	height: 5px;
	background-color: #333;
	border-radius: 3px 3px 0 0;
	top: -53px;
	left: 13px;
}

.camera-icon .dot {
	position: relative;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #d3aa24;
	top: -34%;
	left: 68%;
}

/* Health */
.background {
	height: 100%;
	width: 100%;
	background-color: #ececec;
}

.heart {
	position: relative;
	margin: 30px auto;
	left: 100px;
}

.heart:before,
.heart:after {
	position: absolute;
	content: "";
	width: 40px;
	height: 60px;
	background: linear-gradient(180deg, #FD5EA6, #FD3E56);
	border-radius: 50px 50px 0 0
}

.heart:before {
	left: 40px;
	transform: rotate(-45deg);
	transform-origin: 0 100%
}

.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%
}

/* Notes */
.header-notes {
	position: absolute;
	top: 0;
	height: 55px;
	width: 200px;
	background: linear-gradient(#d0a20e, #FAD762);
	box-shadow: 0 0 10px 1px #686868;
}

.dotted-line {
	position: absolute;
	top: 62px;
  border: none;
  border-top: 4px dotted #838383;
  height: 1px;
  width: 200px;
}

.line-1-notes {
	position: absolute;
	top: 95px;
	height: 1px;
	width: 200px;
	background-color: #a5a5a5;
}

.line-2-notes {
	position: absolute;
	top: 135px;
	height: 1px;
	width: 200px;
	background-color: #a5a5a5;
}

.line-3-notes {
	position: absolute;
	top: 175px;
	height: 1px;
	width: 200px;
	background-color: #a5a5a5;
}

/* Facetime */
.facetime {
	background: linear-gradient(#66ca3b 0%, #07bf38 100%);
}

.square {
	position: absolute;
	top: 30%;
	left: 20%;
	width: 85px;
	height: 70px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 0 0 1px #0bc53c;
}

.triangle {
	position: absolute;
	top: 35%;
	left: 55%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 50px 25px 0;
	border-color: transparent #fff transparent transparent;
}

.vertical-line {
	position: absolute;
	top: -22px;
	left: 44px;
	width: 2px;
	height: 45px;
	background-color: #0bc53c;
	z-index: 100;
}

/* Books */
.books {
	background: linear-gradient(#fd9319 0%, #df7700 100%);
}

.page {
	position: absolute;
	top: 50%;
	width: 55px;
	height: 90px;
	background-color: #fff;
	border-radius: 5px;
}

.page.first {
	left: 35%;
	transform: translate(-50%, -50%);
}

.page.second {
	left: 65%;
	transform: translate(-50%, -50%);
}

.upper-circle {
	position: absolute;
	top: 22%;
	width: 55px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;
}

.upper-circle.first {
	left: 42px;
}

.upper-circle.second {
	left: 102px;
}

.lower-circle {
	position: absolute;
	top: 68%;
	width: 55px;
	height: 35px;
	background-color: #e97f07;
	border-radius: 50%;
}

.lower-circle.first {
	left: 42px;
}

.lower-circle.second {
	left: 102px;
}

/* Safari */
.safari-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background: linear-gradient(180deg, rgba(32,214,253,1) 0%, rgba(29,103,240,1) 100%);
}

.arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 75px 10px;
	border-color: transparent;
}

.arrow.red {
	top: 32%;
	left: 65%;
	transform: translate(-50%, -50%) rotate(45deg);
	border-color: transparent transparent #FD1415 transparent;
}

.arrow.white {
	top: 65%;
	left: 32%;
	transform: translate(-50%, -50%) rotate(-135deg);
	border-color: transparent transparent #fff transparent;
}

.safari-line {
	position: absolute;
	width: 1px;
	height: 10px;
	background-color: #fff;
	z-index: -1;
}

.safari-line:nth-child(1) {
	top: 5px;
	left: 50%;
}

.safari-line:nth-child(2) {
	top: 24px;
	left: 78%;
	transform: rotate(45deg);
}

.safari-line:nth-child(3) {
	top: 73px;
	left: 93%;
	transform: rotate(90deg);
}

.safari-line:nth-child(4) {
	top: 122px;
	left: 82%;
	transform: rotate(135deg);
}

.safari-line:nth-child(5) {
	bottom: 5px;
	left: 50%;
	transform: rotate(180deg);
}

.safari-line:nth-child(6) {
	top: 122px;
	right: 82%;
	transform: rotate(225deg);
}

.safari-line:nth-child(7) {
	top: 73px;
	right: 93%;
	transform: rotate(270deg);
}

.safari-line:nth-child(8) {
	top: 24px;
	right: 78%;
	transform: rotate(315deg);
}


.safari-line:nth-child(9) {
	top: 5px;
	left: calc(50% + 5px);
	transform: rotate(2deg);
}

.safari-line:nth-child(10) {
	top: 26px;
	left: calc(78% + 3px);
	transform: rotate(47deg);
}

.safari-line:nth-child(11) {
	top: 78px;
	left: 93%;
	transform: rotate(92deg);
}

.safari-line:nth-child(12) {
	top: 126px;
	left: calc(82% - 4px);
	transform: rotate(137deg);
}

.safari-line:nth-child(13) {
	bottom: 5px;
	left: calc(50% - 5px);
	transform: rotate(182deg);
}

.safari-line:nth-child(14) {
	top: 117px;
	right: 84%;
	transform: rotate(227deg);
}

.safari-line:nth-child(15) {
	top: 68px;
	right: 93%;
	transform: rotate(272deg);
}

.safari-line:nth-child(16) {
	top: 20px;
	right: calc(78% - 4px);
	transform: rotate(317deg);
}



.safari-line:nth-child(17) {
	top: 6px;
	left: calc(50% + 10px);
	transform: rotate(4deg);
}

.safari-line:nth-child(18) {
	top: 30px;
	left: calc(78% + 6px);
	transform: rotate(50deg);
}

.safari-line:nth-child(19) {
	top: 83px;
	left: 93%;
	transform: rotate(94deg);
}

.safari-line:nth-child(20) {
	top: 130px;
	left: calc(82% - 8px);
	transform: rotate(140deg);
}

.safari-line:nth-child(21) {
	bottom: 5px;
	left: calc(50% - 10px);
	transform: rotate(185deg);
}

.safari-line:nth-child(22) {
	top: 113px;
	right: 87%;
	transform: rotate(231deg);
}

.safari-line:nth-child(23) {
	top: 62px;
	right: 93%;
	transform: rotate(274deg);
}

.safari-line:nth-child(24) {
	top: 16px;
	right: calc(78% - 9px);
	transform: rotate(320deg);
}

